---
import Layout from "../../layouts/BaseLayout.astro"
import { getCollection } from "astro:content";

import BlogCard from "../../components/BlogCard.astro";
import Breadcrumbs from '../../components/Breadcrumbs.astro';

const allPosts = await getCollection("posts");
const categories = [...new Set(allPosts.map((post) => post.data.category))];
---

<Layout title="Статьи | РОСМЕБЕЛЬ">
	<main>
		<section class="section-block">
			<div class="container">
				<Breadcrumbs />
				<h1>Статьи</h1>
				<div class="blog">
					<div class="blog__filter label">
						<p>Фильтр по категориям:</p>
						{categories.map((category) => (
							<div class="filter-input">
								<input type="checkbox" id={category} name={category} checked/>
								<label for={category}>{category}</label>
							</div>
						))}
					</div>

					<div class="blog-list">
						{allPosts.map((post) => (
							<div
								class="catalog-list__item"
								data-category={post.data.category}
							>
								<BlogCard post={post} />
							</div>
						))}
					</div>
				</div>
		</section>
	</main>
</Layout>

{/*
	Обновляем ScrollTrigger при изменении фильтров
	так как меняется размер страницы, меняются и изначальные координаты запуска анимаций
	(в данном случае анимации футера), во избежание этого нужно обновлять ScrollTrigger
*/}
<script>
	const filterInputs = document.querySelectorAll(".blog__filter .filter-input input");

	filterInputs.forEach((input) => {
		input.addEventListener("change", () => {
			ScrollTrigger.refresh();
		});
	});
</script>

<style lang="scss">
	@import "../../styles/_breakpoints.scss";

	$categories: 'Дизайн', 'Интерьер', 'Материалы', 'Советы';

	h1 {
		margin-bottom: 1rem;
	}

	.blog {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;

		&__filter {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
			margin-bottom: 1.25rem;
		}

		&-list {
			display: grid;
			grid-template-columns: repeat(auto-fill, 1fr);
			grid-template-rows: masonry;
			gap: 1.25rem;

			@include breakpoint(md) {
				grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
			}
		}

		@each $category in $categories {
			&:has(input[name="#{$category}"]:checked) {
				.catalog-list__item[data-category="#{$category}"] {
					display: block;
				}
			}

			&:has(input[name="#{$category}"]:not(:checked)) {
				.catalog-list__item[data-category="#{$category}"] {
					display: none;
				}
			}
		}
	}

	.filter-input {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		accent-color: var(--accent-color);
	}
</style>