---
import Layout from "../../layouts/BaseLayout.astro"
import { getCollection } from "astro:content";

import type { CollectionEntry } from 'astro:content';
type Product = CollectionEntry<'catalog'>;

import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Input from "../../components/Input.astro";
import CatalogCard from "../../components/CatalogCard.astro";

const allProducts = await getCollection("catalog");
const categories = [...new Set(allProducts.map((product) => product.data.category))];
---

<Layout title="Каталог | РОСМЕБЕЛЬ">
	<main>
		<section class="section-block">
			<div class="container">
				<Breadcrumbs />
				<h1>Каталог</h1>
				<div class="catalog">
					<div class="catalog__filter label">
						<p>Фильтр по категориям:</p>
						{categories.map((category) => (
							<div class="filter-input">
								<input type="checkbox" id={category} name={category} checked/>
								<label for={category}>{category}</label>
							</div>
						))}
					</div>

					<div class="catalog-list">
						{allProducts.map((product) => (
							<div
								class="catalog-list__item"
								data-category={product.data.category}
							>
								<CatalogCard product={product} />
							</div>
						))}
					</div>
				</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	@import "../../styles/_breakpoints.scss";

	$categories: 'Кухни', 'Шкафы', 'Стенки', 'Детские', 'Прихожие', 'Обеденные', "Рабочие зоны";

	h1 {
		margin-bottom: 1rem;
	}

	.catalog {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;

		&__filter {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
			margin-bottom: 1.25rem;
		}

		&-list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			grid-template-rows: masonry;
			gap: 1.25rem;
		}

		@each $category in $categories {
			&:has(input[name="#{$category}"]:checked) {
				.catalog-list__item[data-category="#{$category}"] {
					display: block;
				}
			}

			&:has(input[name="#{$category}"]:not(:checked)) {
				.catalog-list__item[data-category="#{$category}"] {
					display: none;
				}
			}
		}
	}

	.filter-input {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		accent-color: var(--accent-color);
	}
</style>