---
import AnimatedHeading from "../AnimatedHeading.astro";

const FeatureItems = [
	{
		title: "Оригинальное стилистическое оформление",
		text: "Испытайте идеальное сочетание функциональности и стиля с нашими услугами по изготовлению мебели на заказ. Наши опытные мастера создают уникальные предметы, которые удовлетворят ваши конкретные потребности и улучшат эстетику вашего пространства.",
		isActive: true
	},
	{
		title: "Индивидуальный процесс проектирования",
		text: "Наш процесс проектирования специально разработан таким образом, чтобы каждая деталь вашей индивидуальной мебели была тщательно спланирована и выполнена. От первоначальной концепции до окончательной сборки мы уделяем приоритетное внимание вашему видению и обеспечиваем исключительные результаты.",
		isActive: false
	},
	{
		title: "Материалы премиум-качества",
		text: "Для создания мебели на заказ мы используем только лучшие материалы. От прочной древесины твердых пород до роскошной отделки — наша приверженность качеству гарантирует, что ваша мебель выдержит испытание временем и превзойдет ваши ожидания.",
		isActive: false
	}
]
---

<section
	class="section-block"
	data-theme="light"
>
	<div class="container container-grid">
		<AnimatedHeading
			class="features__title container-grid__heading"
			title="Мебель на заказ — это" tag="h2"
		/>
		<div class="features container-grid__content">
			<ul class="features__list">
				{FeatureItems.map(({ title, text, isActive }, i) => (
					<li data-is-active={`${isActive}`} data-tab={++i}>
						<h4 class="features__title">{title}</h4>
						<p class="features__text">{text}</p>
					</li>
				))}
			</ul>
			<div class="features__preview">
				<img src="/rosmebeli/images/features/closet-project.webp" alt="Пример 3D проекта шкафа" data-tab="1"/>
				<img src="/rosmebeli/images/features/kitchen-sketch.webp" alt="Схема проекта кухни нарисавнная от руки" data-tab="2" />
				<img src="/rosmebeli/images/features/materials.webp" alt="Фото образцов материалов из дерева" data-tab="3" />
			</div>
		</div>
	</div>
</section>

{/* GSAP animations */}
<script>
	function init() {
		const featuresList = document.querySelector(".features__list") as HTMLElement;
		const numberOfFeatures = featuresList.children.length;
		const listStyles = getComputedStyle(featuresList);
		const listGap = listStyles.gap;

		gsap.utils.toArray<HTMLElement>(".features__list > li").forEach((li, idx) => {
			gsap.fromTo(li, {
				x: 150,
				opacity: 0,
				autoAlpha: 0
			},
			{
				x: 0,
				opacity: 1,
				autoAlpha: 1,
				scrollTrigger: {
					trigger: li,
					start: `top-=${listGap} 60%`,
					end: `bottom 50%`,
					onEnter: () => {
						li.setAttribute("data-is-active", "true");
					},
					onEnterBack: () => {
						li.setAttribute("data-is-active", "true");
					},
					onLeave: () => {
						if (idx === numberOfFeatures - 1) return;
						li.setAttribute("data-is-active", "false");
					},
					onLeaveBack: () => {
						if(idx === 0) return;
						li.setAttribute("data-is-active", "false");
					}
				}
			});
		});

		gsap.fromTo(".features__preview", {
			autoAlpha: 0
		}, {
			autoAlpha: 1,
			scrollTrigger: {
				trigger: ".features",
				start: "top center"
			}
		});
	}

	window.addEventListener("load", () => init());
</script>

<style lang="scss">
	@import "../../styles/_breakpoints.scss";

	$tabs: 3;

	section {
		overflow-x: hidden;
	}

	.features {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.25rem;
		align-items: center;

		@include breakpoint(md) {
			grid-template-columns: 1fr 1fr;
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 2.25rem;

			margin: 0;
			padding: 0;

			list-style: none;

			& > li {
				padding-left: 2.25rem;
				border-left: 3px solid transparent;

				&[data-is-active="true"] {
					border-left-color: var(--clr-secondary-400);
				}
			}
		}

		&__text {
			padding-inline-end: 1rem;
			text-align: start;
			text-wrap: balance;

			@include breakpoint(md) {
				padding-inline-end: 1rem;
				text-align: justify;
				text-wrap: pretty;
			}
		}

		&__preview {
			position: relative;

			overflow: hidden;

			box-sizing: border-box;
			aspect-ratio: 1 / 1;

			border: 6px solid var(--accent-color);
			border-radius: 100% 100% 100% 0;

			& > img {;
				position: absolute;

				width: 100%;
				height: 100%;

				opacity: 0;
				object-fit: cover;

				transition: all 300ms ease-in;
			}
		}

		@for $tab from 1 through $tabs {
			&:has(li[data-tab="#{$tab}"][data-is-active="true"]) {
				img:nth-child(#{$tab}) {
					opacity: 1;
				}
			}
		}
	}
</style>