---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props extends astroHTML.JSX.HTMLAttributes {
	product: CollectionEntry<'catalog'>
}

import Card from "./Card.astro";
import Tag from "./Tag.astro";
import Link from "./Link.astro";

const { product, class: className, ...rest } = Astro.props
---

<Card
	class:list={[
		"catalog-card",
		className
	]}
	shaded
	{...rest}
>
	<a class="catalog-card__cover" href={`/rosmebeli/catalog/${product.slug}`}>
		<Image src={product.data.images[0].src} alt={product.data.images[0].alt || ""} width={700} />
	</a>
	<Card class="catalog-card__info" filled>
		<span class="catalog-card__name">{product.data.name}</span>
		<Tag class="catalog-card__category">{product.data.category}</Tag>
		<Tag class:list={["catalog-card__availibility", { "isAvailible": product.data.isAvailable }]}>● {product.data.isAvailable ? 'В наличии' : 'Под заказ'}</Tag>
		<span class="catalog-card__variant">{product.data.variant}</span>
	</Card>
	<Link class="catalog-card__link" href={`/rosmebeli/catalog/${product.slug}`} appearance="button" icon="arrow-right">Подробнее</Link>
</Card>

<style lang="scss">
	@import "../styles/_design.scss";

	.catalog-card {
		display: grid;
		grid-template-rows: 300px minmax(4rem, max-content) min-content;
		gap: 0.5rem;
		width: 100%;

		@include scaleOnHover(1.05);

		&__cover {
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;

			height: 100%;

			& > img {
				width: 100%;
				height: 100%;
				object-fit: cover;

				@include scaleOnHover(1.1);
			}
		}

		&__info {
			display: flex;
			flex-flow: row wrap;
			gap: 0.25rem;
			place-content: center space-between;
			align-items: center;
			justify-content: flex-end;
		}

		&__availibility {
			--text-color-highlight: var(--clr-info);

			&.isAvailible {
				--text-color-highlight: var(--clr-success);
			}
		}

		&__name {
			flex: 1 0 auto;
			font-family: var(--font-family-secondary);
			font-size: 1.25rem;
		}

		&__variant {
			flex: 1 0 100%;
			color: var(--clr-400);
		}
	}
</style>