---
interface Props extends astroHTML.JSX.FormHTMLAttributes {
	id: string;
	theme?: "dark" | "light";
};

import Input from './Input.astro';
import Button from './Button.astro';

const { id, theme = "dark", class: className, ...rest } = Astro.props;
---

<form
	id={id}
	class:list={[
		"customer-form",
		className
	]}
	{...rest}
>
	<Input
		id=`${id}__customer-name`
		label="Ваш телефон"
		type="tel"
		name="customer-name"
		placeholder="Введите ваш телефон"
		mask="+7 (999) 999-99-99"
		theme={theme}
	/>
	<Input
		id=`${id}__customer-address`
		label="Ваш адрес"
		type="text"
		name="customer-address"
		placeholder="Введите ваш адрес"
		theme={theme}
	/>
	<p class="contacts__agreement">Нажимая кнопку “Отправить” вы соглашаетесь на обработку
		<a href="/rosmebeli/privacy" target="_blank" rel="noopener noreferrer" aria-label="Политика конфиденциальности">персональных данных</a>
	</p>
	<Button type="submit">Отправить</Button>
</form>