---
export interface Props {
	text: string,
	splitByChar?: boolean
}

const { text, splitByChar } = Astro.props
---

<>
	<!-- {
		splitBy === 'char'
			? text.split('').map((char) => char === ' ' ? <div style="display: inline-block">&nbsp;</div> : <div style="display: inline-block">{char}</div>)
			: text.split(/\s+/).map((word) => <div style="display: inline-block">{word}</div><div style="display: inline-block">&nbsp;</div>)
	} -->

	{text.split(/\s+/).map((word) => (
			<div>
				{splitByChar
					? `${word} `.split('').map((char) => (char === ' '
						? <div>&nbsp;</div>
						: <div>{char}</div>
					))
					: `${word} `
				}
			</div>
		)
	)}
<>

<style>
	div {
		display: inline-block;
	}
</style>