---
import { Icon } from 'astro-icon/components';
import Layout from './BaseLayout.astro';

import Breadcrumbs from '../components/Breadcrumbs.astro';

import { declOfNum } from '../helpers/helpers';

const { frontmatter } = Astro.props;
---

<Layout title=`${frontmatter.title} | РОСМЕБЕЛЬ`>
	<main>
		<article class="section-block">
			<div class="container">
				<Breadcrumbs class="post__breadcrumbs" currentPage={frontmatter.title}/>
			</div>
			<div class="image-container">
				<img src={frontmatter.image.url} height="100" width="100%" alt={frontmatter.image.alt} />
			</div>
			<div class="container">
				<div class="post__wrapper">
					<img src={frontmatter.image.url} alt={frontmatter.image.alt} height={350} />
					<div class="post__meta label">
						<span>
							<Icon name="calendar" />
							{frontmatter.pubDate.toLocaleDateString('ru-RU', { year: 'numeric', month: 'long', day: 'numeric' })}
						</span>
						<span>
							<Icon name="clock" />
							Время прочтения: {frontmatter.ttr} {declOfNum(frontmatter.ttr, ['минута', 'минуты', 'минут'])}
						</span>
					</div>
					<h1>{frontmatter.title}</h1>
					<slot />
				</div>
			</div>
		</article>
	</main>
</Layout>

<style lang="scss">
	.section-block {
		--image-container-height: 6.25rem;
	}

	.image-container {
		overflow: hidden;
		width: 100%;
		height: var(--image-container-height);
	}

	.image-container > img {
		transform: scale(1.1);
		object-fit: cover;
		filter: blur(6px);
	}

	.post {
		&__wrapper {
			transform: translateY(calc(-1 * var(--image-container-height) / 2));

			max-width: 60ch;
			margin-right: auto;
			margin-left: auto;

			font-size: larger;
		}

		&__meta {
			display: flex;
			flex-flow: row wrap;
			gap: 0.5rem;
			justify-content: space-between;

			margin-bottom: 1rem;

			& > span {
				display: flex;
				flex-basis: max-content;
				gap: 0.5rem;
				align-items: center;

				[data-icon] {
					width: 1lh;
					height: 1lh;
					padding: 0.1lh;
					color: var(--accent-color);
				}
			}
		}
	}
</style>

<style is:global>
	.post__wrapper {
		img {
			width: 100%;
			object-fit: cover;
		}

		p {
			text-align: justify;
			text-wrap: pretty;
		}

		code {
			padding: 0.25rem;
			background-color: color-mix(in srgb, var(--text-color) 33%, transparent);
			border-radius: 5px;
		}
	}
</style>